@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        @apply overflow-hidden text-primary bg-teal-50;
    }
    .h1{
        @apply text-[54px] lg:text-[108px] font-primary font-bold capitalize leading-[120%] tracking-[-0.05em] mb-2;
    }
    .section{
        @apply h-screen w-screen;
    }
    .btn{
        @apply py-[18px] px-[50px] h-[66px] flex items-center justify-center text-base uppercase font-semibold bg-primary text-white;
    }
    .img-portfolio {
        @apply object-cover h-full lg:h-[220px] hover:scale-110 transition-all duration-500;
    }
    .img-portfolio-div {
        @apply max-w-[250px] h-[185px] lg:max-w-[320px] lg:h-[220px] bg-accent overflow-hidden;
    }
    .input-contact{
        @apply outline-none border-b border-b-primary h-[60px] bg-transparent font-secondary w-full pl-3 placeholder:text-[#757879] 
    }


}